*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    min-height: 100%;
}

html{
    height: 100%;
}

.grid-container > *{
   text-align: center;
   border-radius: 15px;
   padding: 10px;
}

.header{
    grid-area: header;
    background-color: crimson;
}

.navbar{
    grid-area: navbar;
    background-color: darkorange;
}

.sidebar{
    grid-area: sidebar ;
    background-color: blueviolet;
}

.main{
    grid-area: main;
    background-color: aquamarine;
}

.footer{
    grid-area: footer;
    background-color: coral;
}

/*Teléfono*/
.grid-container{
    display: grid;
    gap: 10px;
    grid-template-areas:
    "header"
    "navbar"
    "main"
    "sidebar"
    "footer"
    ;
}

/*Para tablet*/
@media(min-width:768px){
    .grid-container{
        grid-template-columns: 200px auto ;
        grid-template-rows: 100px 50px auto 100px;
        grid-template-areas: 
        "header header"
        "navbar navbar"
        "sidebar main"
        "footer footer";
    }
}

/*Para escritorio*/
@media(min-width:900px){
    .grid-container{
        grid-template-columns: 200px auto ;
        grid-template-rows: 100px 50px auto 100px;
        grid-template-areas: 
        "header header header"
        "navbar navbar navbar"
        "sidebar sidebar main"
        "footer footer footer";
    }
}

.grid-container {
    display: grid;
    place-items: center;
    background-color: #fec8c3;
    height: 100%;
    margin: 0;
}

.boton-lista {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
}

.boton-lista li {
    display: block;
    margin-right: 10px;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

.btnperfil{
    background-color: #ff99c8;
    color: black;
    border: 1px solid black;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    width: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btnpotafolio{
    background-color: #a9def9;
    color: black;
    border: 1px solid black;;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    width: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btncontacto {
    background-color: #e4c1f9;
    color: black;
    border: 1px solid black;;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    width: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}