* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Monaco', monospace;
}

body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e4c1f9;
}

.grid-container > * {
    text-align: center;
    border-radius: 15px;
    padding: 10px; 
}

.content {
    display: flex;
    align-items: center;
    max-width: 800px;
}

.fotoperfil {
    margin-right: 20px; 
}

.perfil {
    flex: 1;
    text-align: justify; 
}

ul {
    text-align: center; 
    text-decoration: none;
    list-style-type: none;
}

a{
    text-decoration: none;
    color:black;
}
