*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Monaco', monospace;
}

body{
    min-height: 100%;
}

html{
    height: 100%;
}

.grid-container > *{
    text-align: center;
}

.grid-container > * {
    text-align: center;
    border-radius: 15px;
    padding: 10px; 
}

/* Teléfono */
@media only screen and (max-width: 767px) {
    .grid-container {
        display: grid;
        gap: 10px;
        grid-template-areas: "body";
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 899px) {
    .grid-container {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: "body";
    }
}

/* Escritorio */
@media (min-width: 900px){
    .grid-container {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: "body";
    }
}

body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e4c1f9;
}

.content {
    display: flex;
    align-items: center;
    max-width: 800px;
}

.fotoperfil {
    margin-right: 20px; 
}

.perfil {
    flex: 1;
    text-align: justify; 
}

ul {
    text-align: center; 
    text-decoration: none;
    list-style-type: none;
}

a{
    text-decoration: none;
    color:palevioletred;
}
