*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Monaco', monospace;
}

body{
    min-height: 100%;
}

html{
    height: 100%;
}

.grid-container > *{
    text-align: center;
}

/* Teléfono */
@media only screen and (max-width: 767px) {
    .grid-container {
        display: grid;
        gap: 10px;
        grid-template-areas: "body";
    }
    .card {
        width: 150px;
        height: 150px;
        padding: 10px;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 899px) {
    .grid-container {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: "body";
    }
    .card {
        width: 250px;
        height: 250px;
        padding: 20px;
    }
}

/* Escritorio */
@media (min-width: 900px){
    .grid-container {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: "body";
    }
    .card {
        width: 300px;
        height: 300px;
        padding: 30px;
    }
}

.grid-container {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #fcf6bd 50%, #e4c1f9 51%, #ff99c8 70%, #a9def9 75%, #d0f4de 90%, #fcf6bd 100%);
}

.card {
    background-color: #a9def9;
    width: 200px;
    height: 200px;
    padding: 20px;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btninicio {
    display: inline-block; 
    color: white;
    background-color: black;
    border: none;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
    width: fit-content;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
}
